/.editorconfig
/.env
/.env.example
/.fleet
/.gitattributes
/.gitignore
/.idea
/.vscode
/README.md
/artisan
/composer.json
/composer.lock
/docker-compose.yml
/node_modules
/package.json
/phpunit.xml
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/vite.config.js
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
