body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#div_logo {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    overflow: hidden;
}
#logo {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 50%;
    justify-content: center;
}

#div_form_white {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 5px solid blueviolet;
    width: 450px;
    height: 400px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#login {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
    color: #f7f7f7;
    width: 200px;
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 40px;
    font-size: x-large;
    font-family: Arial;
}

#signup {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
    color: #f7f7f7;
    width: 200px;
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 40px;
    font-size: x-large;
    font-family: Arial;

}

#btn_submit_signup {

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
    color: #f7f7f7;
    width: 200px;
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 40px;
    font-size: x-large;
    font-family: Arial;

}

#div_btn_submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h1_login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: blueviolet;
    font-size: x-large;
    font-family: Arial;
}
#h1_form_signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    color: blueviolet;
    font-size: xx-large;
    font-family: Arial;
}
#h1_form_login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: blueviolet;
    font-size: xx-large;
    font-family: Arial;
}

#label_login_txt {
    text-align: center;
    color: blueviolet;
    font-size: large;
    font-family: Arial;
    font-weight: bold;
}
.label {
    font-family: Arial;
    font-size: large;
    color: blueviolet;
}
.input {
    margin-top: 5px;
    margin-bottom: 5px;
}

