/*Body, flex, que sea al medio y tenga abajo una imagen de fondo no-repeat*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Div donde va el logo, flex, que sea al medio y tenga ancho 55% respecto al body*/
#div_logo {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    overflow: hidden;
}

/*Imagen del logo, que tenga margen arriba y algo de margen abajo, y que se centre horizontalmente*/
#logo {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 50%;
    justify-content: center;
}

/*Divs flex de cajitas con formularios, border redondos, con ancho y alto, para que quepan los elementos, y que este centrado*/
#div_form_white {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 5px solid blueviolet;
    width: 450px;
    height: 400px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Boton redondeado login en el inicio, de bloque y letra grande*/
#login {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
    color: #f7f7f7;
    width: 200px;
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 40px;
    font-size: x-large;
    font-family: Arial;
}

/*Se pone en magenta, violeta mas oscuro cuando el cursor pasa por encima*/
#login:hover {
    background-color: darkmagenta;
}

/*Boton redondeado signup en el inicio, de bloque y letra grande*/
#signup {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
    color: #f7f7f7;
    width: 200px;
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 40px;
    font-size: x-large;
    font-family: Arial;
}

/*Se pone en magenta, violeta mas oscuro cuando el cursor pasa por encima*/
#signup:hover {
    background-color: darkmagenta;
}

/*Boton redondeado signup en el signup, de bloque y letra grande*/
#btn_submit_signup {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
    color: #f7f7f7;
    width: 200px;
    display: block;
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 40px;
    font-size: x-large;
    font-family: Arial;
}

/*Se pone en magenta, violeta mas oscuro cuando el cursor pasa por encima*/
#btn_submit_signup:hover {
    background-color: darkmagenta;
}

/*Se pone en magenta, violeta mas oscuro cuando el cursor pasa por encima*/
#btn_submit_login:hover {
    background-color: darkmagenta;
}

/*Boton redondeado signup en el login, de bloque y letra grande*/
#btn_submit_login {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: blueviolet;
    color: #f7f7f7;
    width: 200px;
    display: block;
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 40px;
    font-size: x-large;
    font-family: Arial;
}

/*Div flex, botones sumbit y centrados, separados de los inputs, paginas signup y login*/
#div_btn_submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*h1 flex, centrado, texto de inicia sesion o registrate pagina de inicio */
#h1_start {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: blueviolet;
    font-size: x-large;
    font-family: Arial;
}

/*h1 flex, centrado, texto Registro pagina de signup */
#h1_form_signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 62px;
    color: blueviolet;
    font-size: xx-large;
    font-family: Arial;
}

/*h1 flex, centrado, texto Inicia Sesion pagina de login */
#h1_form_login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blueviolet;
    margin-top: 30px;
    font-size: xx-large;
    font-family: Arial;
}

/*labels centrados y negrita  */
.label {
    text-align: center;
    font-family: Arial;
    font-size: large;
    color: blueviolet;
    font-weight: bold;
}

/*inputs separados y redondeados  */
.input {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}
/*inputs cuando cursor encima se pone borde violeta  */
.input:hover {
    border: 4px solid blueviolet;
}

/*inputs cuando escribes se pone violeta el borde del input  */
.input:focus {
    border: 4px solid blueviolet;
}
#div_form_cliente {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#ver_reserva {
    background-color: blueviolet;
    color: #f7f7f7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 800px;
    height: 200px;
    line-height: 70px;
    font-size: xxx-large;
    font-family: Arial;
    margin-right: 100px;
    background: linear-gradient(90deg, #a14ef7 0%, #2a2a72 100%);
}
#hacer_reserva {
    background-color: blueviolet;
    color: #f7f7f7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 800px;
    height: 200px;
    line-height: 70px;
    font-size: xxx-large;
    font-family: Arial;
    margin-right: 10px;
    background: linear-gradient(90deg, #a14ef7 0%, #2a2a72 100%);
}
#hacer_reserva:hover {
    animation: pulse 1.5s infinite;
    cursor: pointer;
}
#ver_reserva:hover {
    animation: pulse 1.5s infinite;
    cursor: pointer;
}
@keyframes pulse {
    0% {
        transform: scale(1.05);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1.09);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(1.05);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}

#tabla, #tabla tr, #tabla th, #tabla td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#tabla th {
    background-color: blueviolet;
    text-align: center;
}


#logo_left {
    width: 100%;
    height: 100%;
    float: left;
    margin-left: -20px;
}

#enlace_left {
    width: 10%;
    height: 10%;
    float: left;
    margin-left: -1500px;
    margin-top: 50px;
}
#fila {
    height: 30px;
}
#no_subrayado {
    text-decoration: none;
    color: black;
    padding-top: 2px;
}
